%a{href: '/positions/new', class: 'btn btn-primary'} New
%table.table
  %thead
    %tr
      %th Name
      %th Description
      %th Actions
  %tbody
    - positions.each do |position|
      %tr
        %td= position.name
        %td= position.description
        %td
          .btn-group
            %a{href: "/positions/#{position.id}", class: 'btn btn-default'} Show
            %a{href: "/positions/#{position.id}/edit", class: 'btn btn-primary'} Edit
            %a{href: "/positions/#{position.id}/delete", class: 'btn btn-danger'} Delete
